@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  color: #000;
  background: #fff;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: rgb(218, 218, 218);
  background: #121212;
  box-sizing: border-box;
}
.selected-flag {
  background-color: transparent !important;
}
[data-theme="dark"] .country.highlight,
[data-theme="dark"] .country:hover,
[data-theme="dark"] option {
  background-color: #121212 !important;
}
[data-theme="dark"] .phone-dropdown,
[data-theme="dark"] option {
  background-color: #262626 !important;
}
